<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/379acff5c7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <a href="/" class="logo">USERS</a>
        <a href="/users/new" class="btn"
          >Add User <span><i class="fas fa-plus"></i></span
        ></a>
      </div>
    </header>
    <section class="user padding">
      <div class="container flex justify-between flex-wrap align-center">
        <% data.forEach(element => { %>
        <div class="flex-30 card">
          <h2><span>Name</span> <%= element.name %></h2>
          <h3><span>Email</span> <%= element.email %></h3>
          <h3><span>Date Of Birth</span> <%= element.date %></h3>
          <h3><span>Address</span> <%= element.address %></h3>
        </div>
        <% }) %>
      </div>
    </section>
  </body>
</html>
